* {
	margin: 0;
	padding: 0;
}

body {
	overflow-y: hidden;
}

button {
	outline: none;
	border: 0;
	background: transparent;
}

#result {
	margin-top: 40%;
}

#startBtnDiv {
	position: absolute;
	z-index: 1;
	left: 0;
}